$primary-color: #2196f3;
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Outfit', sans-serif;

@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin box-design {
  border-radius: 20px;
  background-color: $primary-color;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@mixin title {
  font-family: $primary-font;
  font-size: 2.5rem;
  text-transform: uppercase;
}
@mixin text {
  font-family: $secondary-font;
  font-size: 1.5rem;
}
@mixin background-image($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin section-size {
  width: 100%;
  padding: 0 15px 0 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  @include section-size();
  background-color: black;
  p {
    display: none;
    @include text();
  }
  img {
    width: 120px;
  }
  .header__contact {
    width: 105px;
    height: 40px;
    color: white;
    @include text();
    @include box-design();
    @include center-all();
  }
}
main {
  @include center-all();
  flex-direction: column;
  width: 100%;
  .main__intro {
    @include center-all();
    @include background-image('../Images/intro.jpg');
    flex-direction: column;
    padding: 0px 15px 80px 15px;
    width: 100%;
    height: 100vh;
    &--title {
      @include title();
      margin-top: 20px;
      color: white
    }
    p {
      @include text();
      margin-top: 20px;
      color: white;
    }
    &--contact {
      @include box-design();
      @include text();
      @include center-all();
      color: white;
      width: 105px;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .main__history {
    @include center-all();
    @include section-size();
    flex-direction: column;
    height: 600px;
    @include background-image('../Images/history.jpg');
    color: white;
    h2 {
      @include title();
    }
    p {
      margin-top: 20px;
      @include text();
    }
    &--boxes {
      @include center-all();
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
      p {
      @include box-design();
      @include center-all();
      width: 110px;
      height: 70px;
      margin: 8px;
      }
    }
  }
  .main__speed {
    @include section-size();
    @include center-all();
    @include background-image('../Images/speed.jpg');
    flex-direction: column;
    height: 500px;
    &--text {
      @include center-all();
      flex-direction: column;
      h2 {
        @include title();
        color: white;
      }
      p {
        @include text();
        color: white;
        margin-top: 20px;
      }  
    }
    &--boxes {
      @include center-all();
      flex-wrap: wrap;
      margin-top: 20px;
      .speed--box {
        @include box-design();
        @include center-all();
        justify-content: flex-start;
        width: 170px;
        height: 65px;
        padding: 10px;
        margin: 8px;
        span {
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }
        &--image1 {
          @include background-image('../Images/transfer.svg');
        }
        &--image2 {
          @include background-image('../Images/equal.svg');
        }
        &--image3 {
          @include background-image('../Images/security.svg');
        }
        p {
          @include text();
          color: white;
        }
      }
    }
  }
  .main__contact {
    @include center-all();
    @include section-size();
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(33,150,243,1) 50%, rgba(0,0,0,1) 90%);
    height: 300px;
    h2 {
      @include title();
      color: white;
    }
    &--buttons {
      @include center-all();
      margin-top: 10px;
      a {
        @include center-all();
        justify-content: flex-start;
        flex-direction: column;
        width: 100px;
        height: 100px;
        margin: 10px;
        transition: 500ms;
        img {
          width: 50px;
          height: 50px;
        }
        p {
          @include text();
          color: white;
        }
      }
      a:hover {
        transform: scale(1.1);
      }
    }
  }
}


/* FOOTER */
.footer__info {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-family: $secondary-font;
}
.footer__info a {
  color: white;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.footer__info a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer__info span {
  color: red;
  margin-inline-start: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}